@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  font-family: "EB Garamond", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --beige: #FEFAE0;
  --green-dark: #344E41;
  --grey: #4a4e69;
  --black: #011627;
  --red: #8C1C13;

  background-color: #FEFAE0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "EB Garamond", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button{
  font-family: "EB Garamond", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}